@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  background: #010141;
  font-family: 'Lato', sans-serif;
}

.title {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}

.subtitle {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
}

svg {
  display: block;
  margin: 2rem auto;
  shape-rendering: auto;
}

/* Circles */
svg circle.back {
  fill: white;
  stroke: white;
  transition: fill .7s ease;
}

svg circle.front {
  fill: #010141;
  stroke: #010141;
}

svg .moon:hover circle.back {
  fill: yellow;
}

/* Text */
svg text {
  fill: white;
  text-anchor: middle;
  dominant-baseline: middle;
}

svg text.legend {
  font-weight: 700;
  font-size: 1.3rem;
}
