@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 2rem 0;
  background: #010141;
  font-family: 'Lato', sans-serif; 
}

/* Title */
.title {
  color: white;
  text-align: center;
  font-size: 48px;
  margin: 0 0;
}

.subtitle {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
}

/* SVG */
svg {
  display: block;
  margin: 0 auto;
  shape-rendering: auto;
}

/* Text */
svg text {
  fill: white;
  text-anchor: middle;
  dominant-baseline: middle;
}

svg text.legend {
  font-weight: 700;
}
